@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


header {
    text-align: center;
}


.lnr-paw {
    color: #0F52BA;
    font-size: 40px;
    /* To get crisp results, use sizes that are
    a multiple of 20; because Linearicons was
    designed on a 20 by 20 grid. */
  }

.carousel-item {
    height: 32rem;
    background: rgb(196, 193, 193);
    position: relative;
    background-position: center;
    background-size: cover;
}

.container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

/* #photo0 {
    background-image: url("./images/dog4.jpg");
}  */

 /* #photo1 {
    background-image: url("./images/dog1.jpg");
}

#photo2 {
    background-image: url("./images/dog2.jpg");
} */

h1 {
    font-family: 'Satisfy', cursive;
    /* font-size:  */
    text-align: center;
}

h5 {
    font-family: 'Satisfy', cursive;
    /* font-size:  */
    text-align: center;
}

.overlay-image0 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
}

.overlay-image1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
}

.overlay-image2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: 100%;
    opacity: 0.8;
}

.form-group {
    margin: px;
}

.button {
    text-align: center;
    padding: 3px;
    margin: 2px;
}

.card {
    margin: 50px;
}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}

.middle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main {
    margin: 10px;
}