

header {
    text-align: center;
}

.lnr-paw {
    color: #0F52BA;
    font-size: 40px;
    /* To get crisp results, use sizes that are
    a multiple of 20; because Linearicons was
    designed on a 20 by 20 grid. */
  }

img {
    height: 400px;
}